*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#4facfe;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:25px;
    border-radius:10px;
    width:350px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

h1{
    margin-bottom:20px;
}

input{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    width:100%;
    padding:10px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

#weatherResult{
    margin-top:20px;
    font-size:18px;
}